<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MyFlaskApp</title>
		 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
	<body>
		{% include '/includes/_navbar.html' %}
		<div class="container">
        {% include '/includes/_messages.html'%}
		{% block body %}{% endblock %}
		</div>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</body>
</html>
