{% extends 'layout.html' %}

{% block body %}
<div style="margin:auto; width:50%; top: 60px; display:block; float:none;">
  <h6 style="text-align:center;">Select Table to view</h6>
  <form style="text-align:center;" action="{{ url_for('tables')}}" method="POST">
    <label>Select :</label>
    <select name="tableselect" width="300px">
      {% for x in table_names %}
      <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Show Table</button>
  </form>
</div>
<div style="height: 250px; width: 600px; display:block; float:none; overflow: scroll; margin: auto;">
  <table class="table table-bordered">
    <thead>
      <tr>
        {% for h in headers %}
        <th> {{ h }} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for rows in results %}
      <tr>
          {% for h in headers %}
          <td> {{ rows[h] }}  </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
